.navbar-brand img {
    max-width: 170px; /* Adjust the max-width as needed */
}
.sign-in-link {
    color: #007bff; /* Link color */
    text-decoration: none; /* Remove underline */
    font-weight: bold; /* Make the text bold if desired */
    margin-right: 15px; /* Add some spacing between the brand and link */
}
.navibg{
    background-color:rgb(248, 237, 237);
}
.brandlogo{
    width:1000px
}
@media (min-width: 967px) {
    .brandlogo img{
        width: 100%; /* Display the element on small screens */
    }
}
@media (max-width: 967px) {
    .brandlogo{
        display:none; /* Display the element on small screens */
    }
}
.text-center button{
    width:50%
}
.google img{
    width:70%
}
.logincol{
    width:100%;
}