<nav class="navbar navbar-expand-lg navbar-light  navibg">
    <a class="navbar-brand" href="#"><img src="/admin/img/navbar brand logo.png" alt="" class="adminnavbarlogo"></a>
    <div class="ml-auto">Your Name</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>