<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-2 sidebar" id="sidebar">
            <!-- Add sidebar content here -->
            <ul>
                <!-- Dashboard -->
    <li><a href="/dashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
    <!-- Products -->
    <li><a href="/viewproducts"><i class="fas fa-box"></i> Products</a></li>
    <!-- Categories -->
    <li><a href="/catagory"><i class="fas fa-tags"></i> Categories</a></li>
    <!-- Brands -->
    <li><a href="brands.html"><i class="fas fa-industry"></i> Brands</a></li>
    <!-- Payments -->
    <li><a href="payments.html"><i class="fas fa-credit-card"></i> Payments</a></li>
    <!-- Admins -->
    <li><a href="admins.html"><i class="fas fa-user-shield"></i> Admins</a></li>
    <!-- Customers -->
    <li><a href="/userdetails"><i class="fas fa-users"></i> Customers</a></li>
    <!-- Orders -->
    <li><a href="/adminorders/1"><i class="fas fa-shopping-cart"></i> Orders</a></li>
    <!-- Coupons -->
    <li><a href="/coupons"><i class="fas fa-tags"></i> Coupons</a></li>
    <!-- Coupons -->
    <li><a href="/offers"><i class="fas fa-ticket-alt"></i> Offers</a></li>
    <!-- Banners -->
    <li><a href="/adminbanner"><i class="fas fa-image"></i> Banners</a></li>
            </ul>