.sidebar {
    width: 25%;
    background-color: #f8f8f8;
    padding: 20px;
}
.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar ul li {
    padding: 10px 0;
}
.sidebar ul li a {
    text-decoration: none; /* Remove underlines from anchor links */
    color: #7b7474; /* Default color for the links */
}
.sidebar ul li a.active {
    color: #f5450d; /* Highlighted color for the active link */
}
.sidebar ul li i {
    margin-right: 10px;
}

/* Responsive styles */
@media (max-width: 767px) {
    .sidebar {
        display: none; /* Hide the sidebar by default on smaller screens */
    }
    .sidebar.show {
        display: block; /* Show the sidebar when toggled */
        width: 100%; /* Make the sidebar take up full width */
display: block; /* Show the sidebar when toggled */
    }
}
.adminnavbarlogo{
  width:100%;
}
.navibg{
  background-color: rgb(248, 237, 237);
}
@media(max-width:471px){
  .navbar a{
  width: 35%;
}
}
@media(min-width:471px){
  .navbar a{
  width: 10%;
}
}