<nav class="navbar navbar-expand-lg navbar-light navibg">
    <div class="container-fluid">
        <!-- Brand image on the left -->
        <a class="navbar-brand" href="#">
            <img src="/user/img/navbar brand logo.png" alt="Brand Logo">
        </a>
        <!-- "Sign In" text link on the right -->
        <div class="d-flex">
            <a class="sign-in-link" href="/signup">Sign up</a>
        </div>
    </div>