<div class="container-fluid">
    
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3 sidebar" id="sidebar">
            <!-- Add sidebar content here -->
            <div class="profile" >
                <h2>My Profile</h2>
            </div>
            <ul>
                <!-- Dashboard -->
                <li><a href="/myorders/1"><i class="fas fa-shopping-cart"></i> My Orders</a></li>
                <li><a href="/shippingaddress"><i class="fas fa-map-marker"></i> Shipping Address</a></li>
                <li><a href="/usercoupons"><i class="fas fa-percent"></i> coupons & referrals</a></li>
                <li><a href="myreviews"><i class="fas fa-star"></i> My Reviews</a></li>
                <li><a href="/wallet"><i class="fas fa-wallet"></i>Wallet</a></li>
                <li><a href="/accountsettings"><i class="fas fa-cogs"></i> Account Settings</a></li>
               
            </ul>
</div>